# Feature Engineering

In [3]:
# import the package
import pandas as pd
pd.set_option('display.max_columns', 100)

In [4]:
# import the data
df = pd.read_csv('processes_df1.csv')
color = pd.read_csv('data/color_labels.csv')
state = pd.read_csv('data/state_labels.csv')

In [5]:
df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,PureBreed,ColorNum,DescCharLength,DescWordLength,DescLang,DescNeg,DescNeu,DescPos,DescCompound,DescSentiment
0,2,Nibble,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,1,2,359,69,en,0.000,0.742,0.258,0.9552,pos
1,2,No Name Yet,1,265,0,1,1,2,0,2,2,3,3,3,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,1,2,118,23,en,0.149,0.723,0.129,0.1280,pos
2,1,Brisco,1,307,0,1,2,7,0,2,2,1,1,2,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,1,2,393,69,en,0.095,0.706,0.200,0.7650,pos
3,1,Miko,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,1,2,146,25,en,0.000,0.490,0.510,0.9494,pos
4,1,Hunter,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,1,1,390,81,en,0.000,0.635,0.365,0.9880,pos

In [6]:
# color
color1_df = df[['Color1']].merge(color, how='left', left_on='Color1', right_on='ColorID')
color1_dummy = pd.get_dummies(color1_df.ColorName, prefix='Color')
color1_dummy.head()

,Color_Black,Color_Brown,Color_Cream,Color_Golden,Color_Gray,Color_White,Color_Yellow
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0

In [7]:
color2_df = df[['Color2']].merge(color, how='left', left_on='Color2', right_on='ColorID')
color2_dummy = pd.get_dummies(color2_df.ColorName, prefix='Color')
color2_dummy.head()

,Color_Brown,Color_Cream,Color_Golden,Color_Gray,Color_White,Color_Yellow
0,0,0,0,0,1,0
1,1,0,0,0,0,0
2,0,0,0,0,1,0
3,1,0,0,0,0,0
4,0,0,0,0,0,0

In [8]:
color3_df = df[['Color3']].merge(color, how='left', left_on='Color3', right_on='ColorID')
color3_dummy = pd.get_dummies(color3_df.ColorName, prefix='Color')
color3_dummy.head()

   Color_Cream  Color_Golden  Color_Gray  Color_White  Color_Yellow
0            0             0           0            0             0
1            0             0           0            0             0
2            0             0           0            0             0
3            0             0           0            0             0
4            0             0           0            0             0

In [9]:
color2_dummy['Color_Black'] = 0
color3_dummy['Color_Black'] = 0
color3_dummy['Color_Brown'] = 0

In [10]:
color_dummy = color1_dummy + color2_dummy + color3_dummy
color_dummy.head()

,Color_Black,Color_Brown,Color_Cream,Color_Golden,Color_Gray,Color_White,Color_Yellow
0,1,0,0,0,0,1,0
1,1,1,0,0,0,0,0
2,0,1,0,0,0,1,0
3,1,1,0,0,0,0,0
4,1,0,0,0,0,0,0

In [11]:
df = pd.concat([df, color_dummy], axis=1)
df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,PureBreed,ColorNum,DescCharLength,DescWordLength,DescLang,DescNeg,DescNeu,DescPos,DescCompound,DescSentiment,Color_Black,Color_Brown,Color_Cream,Color_Golden,Color_Gray,Color_White,Color_Yellow
0,2,Nibble,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,1,2,359,69,en,0.000,0.742,0.258,0.9552,pos,1,0,0,0,0,1,0
1,2,No Name Yet,1,265,0,1,1,2,0,2,2,3,3,3,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,1,2,118,23,en,0.149,0.723,0.129,0.1280,pos,1,1,0,0,0,0,0
2,1,Brisco,1,307,0,1,2,7,0,2,2,1,1,2,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,1,2,393,69,en,0.095,0.706,0.200,0.7650,pos,0,1,0,0,0,1,0
3,1,Miko,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,1,2,146,25,en,0.000,0.490,0.510,0.9494,pos,1,1,0,0,0,0,0
4,1,Hunter,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,1,1,390,81,en,0.000,0.635,0.365,0.9880,pos,1,0,0,0,0,0,0

In [12]:
# state
state_df = df[['State']].merge(state, left_on='State', right_on='StateID')
state_count = state_df.StateName.value_counts()
state_count

Selangor           8714
Kuala Lumpur       3845
Pulau Pinang        843
Johor               507
Perak               420
Negeri Sembilan     253
Melaka              137
Kedah               110
Pahang               85
Terengganu           26
Sabah                22
Kelantan             15
Sarawak              13
Labuan                3
Name: StateName, dtype: int64

In [13]:
state_other = state_df.StateName.apply(lambda x: 'Other' if x not in state_count.head(5).index else x)
state_other.value_counts()

Selangor        8714
Kuala Lumpur    3845
Pulau Pinang     843
Other            664
Johor            507
Perak            420
Name: StateName, dtype: int64

In [14]:
state_dummy = pd.get_dummies(state_other, prefix='State')
df = pd.concat([df, state_dummy], axis=1)
df.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed,PureBreed,ColorNum,DescCharLength,DescWordLength,DescLang,DescNeg,DescNeu,DescPos,DescCompound,DescSentiment,Color_Black,Color_Brown,Color_Cream,Color_Golden,Color_Gray,Color_White,Color_Yellow,State_Johor,State_Kuala Lumpur,State_Other,State_Perak,State_Pulau Pinang,State_Selangor
0,2,Nibble,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2,1,2,359,69,en,0.000,0.742,0.258,0.9552,pos,1,0,0,0,0,1,0,0,0,0,0,0,1
1,2,No Name Yet,1,265,0,1,1,2,0,2,2,3,3,3,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0,1,2,118,23,en,0.149,0.723,0.129,0.1280,pos,1,1,0,0,0,0,0,0,0,0,0,0,1
2,1,Brisco,1,307,0,1,2,7,0,2,2,1,1,2,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3,1,2,393,69,en,0.095,0.706,0.200,0.7650,pos,0,1,0,0,0,1,0,0,0,0,0,0,1
3,1,Miko,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2,1,2,146,25,en,0.000,0.490,0.510,0.9494,pos,1,1,0,0,0,0,0,0,0,0,0,0,1
4,1,Hunter,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2,1,1,390,81,en,0.000,0.635,0.365,0.9880,pos,1,0,0,0,0,0,0,0,0,0,0,0,1

In [15]:
df.to_csv('df2.csv', index=False)